.help-container {
  width: 400px;
  padding: 20px;
  margin: 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.help-container:hover {
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.3);
  transform: scale(1.07);
}

.help-container h3 {
  margin-bottom: 15px;
}

@media (max-width: 600px) {
  .help-container {
    width: 85%;
    margin: auto;
    margin-top: 10px;
  }

  .help-container:first-child {
    margin-top: 30px;
  }
}
