.product-container {
  width: 320px;
  border: 1px solid #f6f6f6;
  border-radius: 15px;
  margin: 10px;
}

.prod-image-container {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.prod-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}

.prod-details h4 {
  text-align: start;
  padding: 20px;
}

.prod-description {
  background-color: #eeeeee;
  text-align: start;
  padding-left: 20px;
  margin-bottom: 10px;
}

.descrip-title {
  font-weight: bold;
}

.prod-description span {
  margin-right: 20px;
  border-right: 1px solid #e6eaea;
}

.with {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.prod-price-details {
  display: flex;
  margin-bottom: 15px;
}

.prod-price-details h4 {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  padding-left: 20px;
}

.original-price {
  margin-right: 10px;
  text-decoration: line-through;
}

.ratings {
  background-color: black;
  display: flex;
  justify-content: space-between;
  width: 68px;
  padding: 6px;
  margin-left: -6px;
  margin-top: -15px;
  position: absolute;
}

.ratings h3 {
  color: white;
  margin-top: -7px;
}

.prod-price-details h5 {
  color: green;
  height: 30px;
  /* border: 1px solid red; */
  margin-top: -10px;
}

.discount {
  margin-left: 3px;
  margin-top: -15px;
}

.prod-buttons {
  width: 100%;
  margin: 0;
  padding: 0;
}

.prod-buttons button {
  width: 50%;
  font-size: 17px;
  border: none;
  padding: 7px;
}

.prod-buttons button:first-child {
  background-color: #eeeeee;
}

.prod-buttons button:last-child {
  background-color: black;
  color: white;
}

.party-cap {
  width: 30px;
  height: 30px;
}

@media (max-width: 800px) {
  .product-container {
    margin: auto;
    margin-bottom: 30px;
  }
}
